// variables

$dark-grey: #333333;
$medium-grey: #808080;
$light-grey: #ddd;
$white-95-pct: rgba(255, 255, 255, 0.95);
$warriors-blue: #006bb6;
$warriors-yellow: #fdb927;

.app {
  margin: 20px 0 0 20px;
  text-align: center;
  color: $dark-grey;
}

.chart {
  text {
    font-size: 11px;
    color: $medium-grey;
  }
}

.barChart {
  margin: 0 auto;
  width: 1300px; 
  position: relative;
}

.xAxis {
  path {
    display: none;
    color: $medium-grey;
  }
  .tick line {
    stroke: transparent;
  }
}

.yAxis {
  path {
    display: none;
  }
  .tick line {
    color: $medium-grey;
  }
}

.axisLabel {
  fill: $medium-grey;
  font-size: 11px;
  text-anchor: start;
}

.legend {
  fill: $medium-grey;
}

.tooltip {
  background: $white-95-pct;
  position: absolute;
  top: -12px;
  left: 0;
  padding: 0.6em 0.6em;
  border: 1px solid $light-grey;
  pointer-events: none;
  font-size: 12px;
}

.tooltipGame {
  margin-bottom: 0.3em;
  font-weight: 700;
  font-size: 14px;
}

.rect:hover {
  stroke: $dark-grey;
  stroke-width: 2px;
}

.gameWon {
  color: $warriors-blue;
}

.gameLost {
  color: $warriors-yellow;
}

.histogramXAxis {
  path {
    display: none;
  }
  .tick line {
    stroke: $medium-grey;
  }
}

.histogramYAxis {
  path {
    display: none;
  }
  .tick line {
    color: $medium-grey;
  }
}

