// fonts

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/lato-v15-latin-regular.woff2') format('woff2'),
       url('./fonts/lato-v15-latin-regular.woff') format('woff'),
       url('./fonts/lato-v15-latin-regular.ttf') format('truetype');       
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/lato-v15-latin-700.woff2') format('woff2'),
       url('./fonts/lato-v15-latin-700.woff') format('woff'),
       url('./fonts/lato-v15-latin-700.ttf') format('truetype');       
}

// variables

$dark-grey: #333333;
$medium-grey: #808080;
$light-grey: #ddd;
$white-95-pct: rgba(255, 255, 255, 0.95);
$warriors-blue: #006bb6;
$warriors-yellow: #fdb927;
$nba-blue: #17408b;
$nba-red: #c9082a;

$lato-font: 'Lato';
$alt-sans-serif-font: sans-serif;

.app {
  margin: 20px 0 0 20px;
  text-align: left;
  font-family: $lato-font, $alt-sans-serif-font;
  color: $dark-grey;
}

.intro {
  h1 {
    margin: auto;
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    line-height: 1.5em;
  }
  p {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5em;
    max-width: 800px;
    margin: 15px auto;
    column-width: 20em;
  }
}

a {
  outline: none;
  text-decoration: none;
  &:link, &:visited {
    color: $nba-blue;
  }
  &:active {
    color: $nba-red;
  }
  &:focus, &:hover {
    color: $nba-red;
    border-bottom: 1px dotted;
  }
}

.chart {
  text {
    font-family: $lato-font, $alt-sans-serif-font;
    font-size: 11px;
    color: $medium-grey;
  }
}

.barChart {
  margin: 0 auto;
  width: 1300px; 
  position: relative;
}

.xAxis {
  path {
    display: none;
    color: $medium-grey;
  }
  .tick line {
    stroke: transparent;
  }
}

.yAxis {
  path {
    display: none;
  }
  .tick line {
    color: $medium-grey;
  }
}

.axisLabel {
  fill: $medium-grey;
  font-size: 11px;
  text-anchor: start;
}

.legend {
  fill: $medium-grey;
}

.tooltip {
  background: $white-95-pct;
  position: absolute;
  top: -12px;
  left: 0;
  padding: 0.6em 0.6em;
  border: 1px solid $light-grey;
  pointer-events: none;
  font-size: 12px;
}

.tooltipGame {
  margin-bottom: 0.3em;
  font-weight: 700;
  font-size: 14px;
}

.rect:hover {
  stroke: $dark-grey;
  stroke-width: 2px;
}

.gameWon {
  color: $warriors-blue;
}

.gameLost {
  color: $warriors-yellow;
}

.histogram {
  margin: 0 auto;
  width: 500px; 
}

.histogramXAxis {
  path {
    display: none;
  }
  .tick line {
    stroke: $medium-grey;
  }
}

.histogramYAxis {
  path {
    display: none;
  }
  .tick line {
    color: $medium-grey;
  }
}



